<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".iso" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".lol" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
